<% if edit %>
    <% action = band_url(band) %>
    <% button_text = 'Edit band'%>
<% else %>
    <% action = bands_url %>
    <% button_text = 'Make a band' %>
<% end %>

<form action = '<%= action%>' method='post'>
    <% if edit %>
        <input type='hidden' name='_method' value='patch'>
    <% end %>

    <input type='hidden' name= 'authenticity_token' value='<%= form_authenticity_token %>'>

    <label for='band_name'>Band:</label>
    <input type= 'text' id='band_name' name='band[name]'>

    <button><%= button_text %></button>
</form>